@{
    ViewBag.Title = "About";
}
<h2 class="pageheaders">@ViewBag.Title</h2>

<p>Avalanche Games is a browser based gaming site. <br>
    Made for a little boy who has a big love for anything game related.</p>
