@{
    ViewBag.Title = "Contact";
}
<h2 class="pageheaders">@ViewBag.Title.</h2>

<address>
    AvalancheGames Studios<br />
    Claxton, GA 30417<br />
    <abbr title="Phone">Phone:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AvalancheGamesSupport@AvalancheGames.com</a><br />
</address>