
@{
    ViewBag.Title = "Index";
}

<h2 class="pageheaders">Index</h2>

<p style="color:#FFFFFF">
    @Html.ActionLink("Simulate Divide By Zero", "SimulateDivideByZero");

</p>

<p style="color:#FFFFFF">
    @Html.ActionLink("Simulate Database Not Connected", "SimulateDALNotConnected");

</p>

<p style="color:#FFFFFF">
    @Html.ActionLink("Simulate Stored Procedure Not Found", "SimulateDALProcedureNotFound");

</p>
<p style="color:#FFFFFF">
    @Html.ActionLink("Simulate Stored Procedure Parameter Not Found", "SimulateDALParameterNotFound");

</p>
