
@{
    ViewBag.Title = "Floaty";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Floaty</title>
</head>
<body>
    <canvas id="myCanvas" width="480" height="320"></canvas>
    <p id="score" style="font-size:36px">Score 0</p>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        canvas {
            background: #98DFFC;
            display: block;
            margin: 0 auto;
            margin-top: 36px;
        }

        p {
            text-align: center;
            margin-top: 24px;
            /*font-size: 36px;*/
        }
    </style>
    <div>
        <script>
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");

            function randInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var bird = { x: canvas.width / 3, y: canvas.height / 2, dy: 0, d2y: 0 };
            var i;
            function Pipe(width, x, y, dx, drawn) {
                this.width = width;
                this.x = x;
                this.y = y;
                this.dx = dx;
            }
            var pipes = [];
            var pipeTimer = 0;
            var flapTimer = 0;
            var score = 0;
            var gameStart = false;



            function drawBird() {
                bird.y += bird.dy;
                bird.dy += bird.d2y;
                flapTimer -= 1;
                ctx.beginPath();
                ctx.arc(bird.x, bird.y, 10, 0, Math.PI * 2);
                ctx.fillStyle = "#DD00DD";
                ctx.fill();
                ctx.strokeStyle = "#000000";
                ctx.stroke();
                ctx.closePath;
            }

            function addPipe() {
                if (pipeTimer <= 0) {
                    pipes.push(new Pipe(30, canvas.width, randInt(60, canvas.height - 100), -1));
                    pipeTimer = 200;
                }
                pipeTimer -= 1;
            }

            function drawPipe() {
                for (i = 0; i < pipes.length; i++) {
                    ctx.beginPath();
                    ctx.rect(pipes[i].x, 0, pipes[i].width, pipes[i].y);
                    ctx.fillStyle = "#22DD22";
                    ctx.fill();
                    ctx.strokeStyle = "#111111";
                    ctx.stroke();
                    ctx.closePath();
                    ctx.beginPath();
                    ctx.rect(pipes[i].x, pipes[i].y + 75, pipes[i].width, canvas.height);
                    ctx.fillStyle = "#22DD22";
                    ctx.fill();
                    ctx.strokeStyle = "#111111";
                    ctx.stroke();
                    ctx.closePath();
                    pipes[i].x += pipes[i].dx;
                }
                if (pipes[0].x <= -1 * pipes[0].width) {
                    pipes.shift();
                }
            }

            function borderCollision() {
                if (bird.y + 10 >= canvas.height) {
                    gameOver();
                } else if (bird.y <= 0) {
                    bird.dy *= -2;
                }
            }

            function pipeCollision() {
                for (i = 0; i < pipes.length; i++) {
                    if ((bird.x + 7 >= pipes[i].x) && (bird.x - 7 <= pipes[i].x + pipes[i].width) && (bird.y - 7 <= pipes[i].y || bird.y + 7 >= pipes[i].y + 75)) {
                        gameOver();
                    } else if (bird.x == pipes[i].x + pipes[i].width / 2) {
                        score++;
                        document.getElementById("score").innerHTML = score;
                    }
                }
            }

            function gameOver() {
                window.location.href = ('/Game/FloatyResult/' + score);
                //alert("Game Over! Your score: " + score.toString() + ".");
                bird.y = canvas.height / 2;
                bird.dy = 0;
                bird.d2y = 0;
                gameStart = false;
                pipes = [];
                pipeTimer = 0;
                flapTimer = 0;
                score = 0;
                document.getElementById("score").innerHTML = 0;

            }

            function drawGame() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                drawBird();
                if (gameStart) {
                    addPipe();
                    drawPipe();
                    borderCollision();
                    pipeCollision();
                }
            }

            document.addEventListener("keydown", keyDownHandler, false);
            function keyDownHandler(e) {
                if (e.keyCode == 13 || e.keyCode == 32) {
                    if (!gameStart) {
                        bird.d2y = 0.1;
                        gameStart = true;
                    }
                    if (flapTimer <= 0) {
                        bird.dy = -3;
                        flapTimer = 10;
                    }
                }
            }
            setInterval(drawGame, 10);
        </script>
    </div>
</body>
</html>
