
@{
    ViewBag.Title = "FloatyScore";
}



<h1 class="pageheaders">FloatyScore</h1>
<h2>You Scored @ViewBag.score</h2>

<br />
@Html.ActionLink("Save Score", "FloatySaveScore", null, new { @class = "btn btn-info" })
@Html.ActionLink("Play Again", "Floaty", null, new { @class = "btn btn-info" })

@*<form action="~/Controllers/GameController/FloatyResult/@ViewBag.score" method="get" id="form1"></form>
    <button type="submit" form="form1" value="Submit">Click To Save Score</button>*@