
@{
    ViewBag.Title = "NinjaGame";
}

<h2>NinjaGame</h2>
<div>
<canvas width="500" height="500" style="border:1px solid #000000" id="canvas"> </canvas>
</div>

    <script src="~/Scripts/NinjaController.js"></script>

   


