
@{
    ViewBag.Title = "PongballScore";
}

<h2>PongballScore</h2>

You Scored @ViewBag.score
<br />
<form action="~/Controllers/GameController/PongBallResult/@ViewBag.score" method="get" id="form1"></form>
<button type="submit" form="form1" value="Submit">Click To Save Score</button>
