
@{
    ViewBag.Title = "SnakeScore";
}

<h2>SnakeScore</h2>
You Scored @ViewBag.score
<br/>
<form action="~/Controllers/GameController/SnakeResult/@ViewBag.score" method="get" id="form1"></form>
<button type="submit" form="form1" value="Submit">Click To Save Score</button>